*{
  margin: 0;
  padding: 0;
}

body {
  background:#1a0b0b;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.container img {
  max-width: 40px;
}

.titulo-principal {
  position: absolute;
  top: 0;
  left: 25px;
  padding: 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

nav {
  position: absolute;
  top: 50px;
  right: 0;
  color: #FFFFFF;
}

nav li {
  display: inline-block;
}

nav h3{
  padding-bottom: 50px;
  font-size: 24px;
}

#banner {
  width: 100%;
}

.principal {
  background: #CCCCCC;
  padding: 30px;
}

.imagem-beneficio {
  position: relative;
  margin: auto;
}

.imagem-beneficio img {
  width: 60%;
}

nav li {
  display: list-item;

}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #FF0000;
}

.itens {
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  font-size: 20px;
}

.beneficios {
  position: relative;
  background: #FFFFFF;
  padding: 20px;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}


footer{
  text-align: center;
  background: url(./src/img/bg.jpg);
}

.copyright{
  color: #FFFFFF;
  font-size: 13px;
  padding: 20px;
}