*{
  margin: 0;
  padding: 0;
}

.titulo-principal {
  padding: 20px;
  font-size: 20px;
  color: rgb(15, 83, 83);
}

#banner {
  width: 100%;
}

.principal {
  background: #CCCCCC;
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #FF0000;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagem-beneficios {
  width: 50%;
}